:root {
  --height: 40px;
  --width: 150px;
  --depth: 30px;
}

.loaderContainer {
  clip-path: circle(2000px at 50% 50%);
  transition: all 1.5s ease;
  height: 100vh;
  width: 100vw;
  background-color: rgb(23, 23, 23);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* perspective: 600px; */
  gap: 0.2em;
}
.rectangle {
  height: var(--height);
  width: var(--width);
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(0deg);
}
.face {
  position: absolute;
  /* opacity: 0.5; */
}

.front {
  height: var(--height);
  width: var(--width);
  transform: translateZ(calc(var(--depth) / 2));
}

.back {
  height: var(--height);
  width: var(--width);
  transform: translateZ(calc(var(--depth) / -2));
}

.top {
  height: var(--depth);
  width: var(--width);
  transform-origin: top;
  transform: translateZ(calc(var(--depth) / 2)) rotateX(-90deg);
}

.bottom {
  bottom: 0;
  height: var(--depth);
  width: var(--width);
  transform-origin: bottom;
  transform: translateZ(calc(var(--depth) / 2)) rotateX(90deg);
}

.left {
  left: 0;
  height: var(--height);
  width: var(--depth);
  transform-origin: left;
  transform: translateZ(calc(var(--depth) / 2)) rotateY(90deg);
}
.right {
  right: 0;
  height: var(--height);
  width: var(--depth);
  transform-origin: right;
  transform: translateZ(calc(var(--depth) / 2)) rotateY(-90deg);
}

@keyframes ghoom {
  to {
    transform: rotateX(10deg) rotateY(360deg);
  }
}

.r1 {
  animation: ghoom 3s 0.2s ease infinite;
}
.r2 {
  animation: ghoom 3s 0.4s ease infinite;
}
.r3 {
  animation: ghoom 3s 0.6s ease infinite;
}
.r4 {
  animation: ghoom 3s 0.8s ease infinite;
}
.r5 {
  animation: ghoom 3s 1s ease infinite;
}

.r1 .left, .r1 .right{
  background-color: #ECECEC;
}
.r1 .front, .r1 .back{
  background-color: #F2F2F2;
}
.r1 .top, .r1 .bottom{
  background-color: #E6E6E6;
}

.r2 .left, .r2 .right{
  background-color: #D9A38F;
}
.r2 .front, .r2 .back{
  background-color: #D79E8A;
}
.r2 .top, .r2 .bottom{
  background-color: #D59983;
}

.r3 .left, .r3 .right{
  background-color: #D95F5F;
}
.r3 .front, .r3 .back{
  background-color: #D85757;
}
.r3 .top, .r3 .bottom{
  background-color: #D65151;
}

.r4 .left, .r4 .right{
  background-color: #A64E4E;
}
.r4 .front, .r4 .back{
  background-color: #A24C4C;
}
.r4 .top, .r4 .bottom{
  background-color: #9E4A4A;
}

.r5 .left, .r5 .right{
  background-color: #262626;
}
.r5 .front, .r5 .back{
  background-color: #252525;
}
.r5 .top, .r5 .bottom{
  background-color: #242424;
}