.aboutContainer {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateZ(-1px);
  transform-origin: left;
  background-color: rgb(23, 23, 23);
  transition: all 1s ease;
}

.aboutContainer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 20rem;
  color: #faf7ff;
}
