* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
}
/* font-family: 'Codystar', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'KoHo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive; */
